<a href="https://colab.research.google.com/github/dustinak80/Information-Visualization/blob/master/Project/Edit_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
# Load the Drive helper and mount
from google.colab import drive

# This will prompt for authorization.
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
data = pd.read_csv('/content/drive/My Drive/Info Visualization/World_Bank_Data2.csv')

In [0]:
data.head()

  Country Name Country Code  ...         2013         2014
0        China          CHN  ...  21230.38086  22763.43359
1        China          CHN  ...           ..           ..
2        China          CHN  ...  99.98311615  99.99848938
3        China          CHN  ...  3773.405384    3927.0445
4        China          CHN  ...  13.66140637  14.42209207

[5 rows x 19 columns]

In [0]:
data.tail(n = 6)

                 Country Name Country Code  ...         2013         2014
683                  Portugal          PRT  ...  65.76940918  65.14974213
684                       NaN          NaN  ...          NaN          NaN
685                       NaN          NaN  ...          NaN          NaN
686                       NaN          NaN  ...          NaN          NaN
687  Data from database: Jobs          NaN  ...          NaN          NaN
688  Last Updated: 04/09/2020          NaN  ...          NaN          NaN

[6 rows x 19 columns]

In [0]:
#drop the last 5 rows because they are nan and information from World Bank Data
data = data.iloc[:-5,:]
data.tail()

    Country Name Country Code  ...         2013         2014
679     Portugal          PRT  ...  0.677999973  0.541999996
680     Portugal          PRT  ...  52.23802679  52.82307393
681     Portugal          PRT  ...  109.0199127  107.6059036
682     Portugal          PRT  ...  118.8957901  115.5455627
683     Portugal          PRT  ...  65.76940918  65.14974213

[5 rows x 19 columns]

Looking at the Table above, I want to do the following:
- Pivot all of the rows into a single column
- Pivot all of the Series Name (+Series Code or delete?) as column values

The methods used in attempting this:
- Drop the repeat columns
- set select columns as index
- Then stack the rest of the columns (years in this case)

In [0]:
# 1 - Drop the columns Country Code and Series Code
data2 = data.drop(columns = ['Country Code', 'Series Code'])
data2.columns

Index(['Country Name', 'Series Name', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014'],
      dtype='object')

In [0]:
# 2 - set the index names
data2.set_index(['Country Name', 'Series Name'], inplace = True)
data2.index

MultiIndex([(   'China', ...),
            (   'China', ...),
            (   'China', ...),
            (   'China', ...),
            (   'China', ...),
            (   'China', ...),
            (   'China', ...),
            (   'China', ...),
            (   'China', ...),
            (   'China', ...),
            ...
            ('Portugal', ...),
            ('Portugal', ...),
            ('Portugal', ...),
            ('Portugal', ...),
            ('Portugal', ...),
            ('Portugal', ...),
            ('Portugal', ...),
            ('Portugal', ...),
            ('Portugal', ...),
            ('Portugal', ...)],
           names=['Country Name', 'Series Name'], length=684)

In [0]:
#Now I should be able to stack it.
data2.head()

                                                                        2000  ...         2014
Country Name Series Name                                                      ...
China        GDP per person employed (constant 1990 PPP $)       6553.757813  ...  22763.43359
             Government expenditure on education, total (% o...           ..  ...           ..
             Access to electricity (% of population)               96.243927  ...  99.99848938
             Electric power consumption (kWh per capita)         992.9433847  ...    3927.0445
             Fixed broadband Internet subscribers (per 100 p...  0.001765899  ...  14.42209207

[5 rows x 15 columns]

In [0]:
data2 = data2.stack()
data2.head(n = 20)

Country Name  Series Name
China         GDP per person employed (constant 1990 PPP $)          2000    6553.757813
                                                                     2001    7053.375977
                                                                     2002    7624.646973
                                                                     2003    8304.691406
                                                                     2004    9067.948242
                                                                     2005     10012.6123
                                                                     2006     11209.3877
                                                                     2007    12703.79297
                                                                     2008    13951.99316
                                                                     2009    15207.08398
                                                                     2010    16777.57617
                                                                     2011    18326.94336
                                                                     2012    19730.35547
                                                                     2013    21230.38086
                                                                     2014    22763.43359
              Government expenditure on education, total (% of GDP)  2000             ..
                                                                     2001             ..
                                                                     2002             ..
                                                                     2003             ..
                                                                     2004             ..
dtype: object

In [0]:
data2 = data2.unstack('Series Name')
data2.head()

Series Name       Access to electricity (% of population)  ... Wage and salaried workers, total (% of total employment) (modeled ILO estimate)
Country Name                                               ...
Australia    2000                                     100  ...                                        79.96399689
             2001                                     100  ...                                        79.73999786
             2002                                     100  ...                                        79.60099792
             2003                                     100  ...                                         80.0719986
             2004                                     100  ...                                        80.28500366

[5 rows x 36 columns]

In [0]:
data2.shape

(285, 36)

In [0]:
#See which colums are mostly 0
columns = data2.columns
len(columns)

32

In [0]:
#this turns all of the '..' values in Nan
data2 = data2[data2[columns]!='..']

In [0]:
data2.isnull().sum()/len(data2)

Series Name
Access to electricity (% of population)                                                                    0.000000
Age dependency ratio (% of working-age population)                                                         0.000000
Agriculture, value added (% of GDP)                                                                        0.024561
Contributing family workers, total (% of total employment) (modeled ILO estimate)                          0.000000
Electric power consumption (kWh per capita)                                                                0.000000
Employers, total (% of total employment) (modeled ILO estimate)                                            0.000000
Employment in agriculture (% of total employment) (modeled ILO estimate)                                   0.000000
Employment in industry (% of total employment) (modeled ILO estimate)                                      0.000000
Employment in services (% of total employment) (modeled ILO estimate)                                      0.000000
Exports of goods and services (% of GDP)                                                                   0.000000
Fixed broadband Internet subscribers (per 100 people)                                                      0.042105
GDP per person employed (constant 1990 PPP $)                                                              0.000000
Government expenditure on education, total (% of GDP)                                                      0.221053
Imports of goods and services (% of GDP)                                                                   0.000000
Individuals using the Internet (% of population)                                                           0.010526
Industry, value added (% of GDP)                                                                           0.024561
Labor force with advanced education (% of total working-age population with advanced education)            0.343860
Labor force with basic education (% of total working-age population with basic education)                  0.350877
Labor force with intermediate education (% of total working-age population with intermediate education)    0.343860
Labor force, total                                                                                         0.000000
Mobile cellular subscriptions (per 100 people)                                                             0.000000
Population, total                                                                                          0.000000
Research and development expenditure (% of GDP)                                                            0.129825
Rural population (% of total population)                                                                   0.000000
School enrollment, primary (% gross)                                                                       0.098246
School enrollment, secondary (% gross)                                                                     0.182456
School enrollment, tertiary (% gross)                                                                      0.319298
Self-employed, total (% of total employment) (modeled ILO estimate)                                        0.000000
Telephone lines (per 100 people)                                                                           0.000000
Total employment, total (ages 15+)                                                                         0.000000
Unemployment with advanced education (% of total labor force with advanced education)                      0.178947
Unemployment with intermediate education (% of total labor force with intermediate education)              0.210526
Unemployment, total (% of total labor force) (modeled ILO estimate)                                        0.000000
Urban population (% of total)                                                                              0.000000
Vulnerable employment, total (% of total employment) (modeled ILO estimate)                                0.000000
Wage and salaried workers, total (% of total employment) (modeled ILO estimate)                            0.000000
dtype: float64

In [0]:
remove = ['School enrollment, tertiary (% gross)', 
          'Labor force with advanced education (% of total working-age population with advanced education)', 
          'Labor force with basic education (% of total working-age population with basic education)', 
          'Labor force with intermediate education (% of total working-age population with intermediate education)']

data2.drop(columns = remove, inplace = True)
data2.isnull().sum()/len(data2)

Series Name
Access to electricity (% of population)                                                          0.000000
Age dependency ratio (% of working-age population)                                               0.000000
Agriculture, value added (% of GDP)                                                              0.024561
Contributing family workers, total (% of total employment) (modeled ILO estimate)                0.000000
Electric power consumption (kWh per capita)                                                      0.000000
Employers, total (% of total employment) (modeled ILO estimate)                                  0.000000
Employment in agriculture (% of total employment) (modeled ILO estimate)                         0.000000
Employment in industry (% of total employment) (modeled ILO estimate)                            0.000000
Employment in services (% of total employment) (modeled ILO estimate)                            0.000000
Exports of goods and services (% of GDP)                                                         0.000000
Fixed broadband Internet subscribers (per 100 people)                                            0.042105
GDP per person employed (constant 1990 PPP $)                                                    0.000000
Government expenditure on education, total (% of GDP)                                            0.221053
Imports of goods and services (% of GDP)                                                         0.000000
Individuals using the Internet (% of population)                                                 0.010526
Industry, value added (% of GDP)                                                                 0.024561
Labor force, total                                                                               0.000000
Mobile cellular subscriptions (per 100 people)                                                   0.000000
Population, total                                                                                0.000000
Research and development expenditure (% of GDP)                                                  0.129825
Rural population (% of total population)                                                         0.000000
School enrollment, primary (% gross)                                                             0.098246
School enrollment, secondary (% gross)                                                           0.182456
Self-employed, total (% of total employment) (modeled ILO estimate)                              0.000000
Telephone lines (per 100 people)                                                                 0.000000
Total employment, total (ages 15+)                                                               0.000000
Unemployment with advanced education (% of total labor force with advanced education)            0.178947
Unemployment with intermediate education (% of total labor force with intermediate education)    0.210526
Unemployment, total (% of total labor force) (modeled ILO estimate)                              0.000000
Urban population (% of total)                                                                    0.000000
Vulnerable employment, total (% of total employment) (modeled ILO estimate)                      0.000000
Wage and salaried workers, total (% of total employment) (modeled ILO estimate)                  0.000000
dtype: float64

In [0]:
#Export to CSV
data2.to_csv('/content/drive/My Drive/Info Visualization/World_Bank_Data_edit.csv')