In [0]:
import pandas as pd
import numpy as np

In [0]:
# Load the Drive helper and mount
from google.colab import drive

# This will prompt for authorization.
drive.mount('/content/drive')

In [0]:
data = pd.read_csv('/content/drive/My Drive/Info Visualization/World_Bank_Data.csv')

In [12]:
data.head()

  Country Name Country Code  ...          2013          2014
0        China          CHN  ...  21230.380860  22763.433590
1        China          CHN  ...     99.983116     99.998489
2        China          CHN  ...     45.800000     47.900000
3        China          CHN  ...     88.886248     92.517329
4        China          CHN  ...     19.307659     17.943179

[5 rows x 19 columns]

In [41]:
data.tail(n = 6)

    Country Name Country Code  ...       2013       2014
195     Portugal          PRT  ...  10.230000   8.648000
196     Portugal          PRT  ...  23.698000  23.858999
197     Portugal          PRT  ...  66.072998  67.494003
198     Portugal          PRT  ...  21.955999  19.771000
199     Portugal          PRT  ...  78.043999  80.228996

[5 rows x 19 columns]

In [0]:
#drop the last 5 rows because they are nan and information from World Bank Data
data = data.iloc[:-5,:]
data.tail()

Looking at the Table above, I want to do the following:
- Pivot all of the rows into a single column
- Pivot all of the Series Name (+Series Code or delete?) as column values

The methods used in attempting this:
- Drop the repeat columns
- set select columns as index
- Then stack the rest of the columns (years in this case)

In [63]:
# 1 - Drop the columns Country Code and Series Code
data2 = data.drop(columns = ['Country Code', 'Series Code'])
data2.columns

Index(['Country Name', 'Series Name', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014'],
      dtype='object')

In [64]:
# 2 - set the index names
data2.set_index(['Country Name', 'Series Name'], inplace = True)
data2.index

MultiIndex([(   'China', ...),
            (   'China', ...),
            (   'China', ...),
            (   'China', ...),
            (   'China', ...),
            (   'China', ...),
            (   'China', ...),
            (   'China', ...),
            (   'China', ...),
            (   'China', ...),
            ...
            ('Portugal', ...),
            ('Portugal', ...),
            ('Portugal', ...),
            ('Portugal', ...),
            ('Portugal', ...),
            ('Portugal', ...),
            ('Portugal', ...),
            ('Portugal', ...),
            ('Portugal', ...),
            ('Portugal', ...)],
           names=['Country Name', 'Series Name'], length=200)

In [65]:
#Now I should be able to stack it.
data2.head()

                                                                      2000  ...          2014
Country Name Series Name                                                    ...
China        GDP per person employed (constant 1990 PPP $)     6553.757813  ...  22763.433590
             Access to electricity (% of population)             96.243927  ...     99.998489
             Individuals using the Internet (% of population)     1.775913  ...     47.900000
             Mobile cellular subscriptions (per 100 people)       6.644332  ...     92.517329
             Telephone lines (per 100 people)                    11.286558  ...     17.943179

[5 rows x 15 columns]

In [0]:
data2 = data2.stack()
data2.head(n = 20)

In [68]:
#Look more into this
data2.index.set_names('Year', level = 2)

MultiIndex([(   'China', ...),
            (   'China', ...),
            (   'China', ...),
            (   'China', ...),
            (   'China', ...),
            (   'China', ...),
            (   'China', ...),
            (   'China', ...),
            (   'China', ...),
            (   'China', ...),
            ...
            ('Portugal', ...),
            ('Portugal', ...),
            ('Portugal', ...),
            ('Portugal', ...),
            ('Portugal', ...),
            ('Portugal', ...),
            ('Portugal', ...),
            ('Portugal', ...),
            ('Portugal', ...),
            ('Portugal', ...)],
           names=['Country Name', 'Series Name', 'Year'], length=2997)

In [0]:
#Export to CSV
data2.to_csv('/content/drive/My Drive/Info Visualization/World_Bank_Data_edit.csv')